.dialog {
  background: #fff;
  width: calc(100% - 40px);
  border-radius: 10px;
  max-width: 800px;
  height: calc(100vh - 160px);
  overflow: scroll;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}

.backcover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.header {
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.contributors {
  display: flex;
}

.contributor {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link {
    display: block;
  }
}

.contributorAvatar {
  width: 100px;
  height: 100px;
  display: block;
}

.languagesList {
}

.language {
  display: flex;
}

.languageDescription {
  min-width: 200px;
}

.languageGraph {
  width: 100%;
}
