.dialog {
	background: #fff;
	width: 400px;
	position: fixed;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);
}

.backcover {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

.header {
	overflow: hidden;
  text-overflow: ellipsis;
}

.closeBtn {
	position: absolute;
	top: 10px;
	right: 10px;
}
