.card {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  min-width: 300px;
  padding: 20px;
  transition: box-shadow 300ms;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 10px 69px -12px rgba(0, 0, 0, 0.48);
  }
}

.name {
  color: #0366d6;
  margin-top: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.forkLabel {
  background-color: #fff59d;
  align-self: flex-start;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
}

.description {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.additionalInfo {
  border-top: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.language {
  width: 50%;
}

.languageColor {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.stars {
  width: 50%;
}

.updatedDate {
  width: 100%;
}
